@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

body{
    font-family: 'Silkscreen', cursive;
    color:#222222;
    background-color:#ebebeb;
}
/*header*/
.main{
    max-width: 300px;
    margin: 0 auto;
}

.header{
    padding: 5px;
    text-align: center;
}

.img-header{
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
}

.header h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
/*imagens*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }  
.img-card{
    display: block;
    width: 238px;
    height: 220px;
    margin: 10px;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
}

.text{
    background: #c9c9c9;
    padding: 15px 10px;
    font-size: 0.875rem;
    text-align: center;
    border-radius: 5px 5px 0 0;
} 

.item-card{
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 2%;
    align-items: center;
}

.card{
    display: flex;
}
/*responsividade*/
@media (min-width: 720px){
    .main{
        max-width: 700px;
    }
    .text{
        max-width: 280px;
    }
    .card{
        display: block;
    }
    .img-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
  }
@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
  }